<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col">
            <form @submit.prevent="submitForm()">
              <p v-if="errors.length">
                <b>Please Correct the following errors : </b>
                <ul>
                  <li v-for="error in errors">{{error}}</li>
                </ul>
              </p>
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" v-model="name" ref="name" class="form-control" :disabled="buttonStatus  === 'upload'" />
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" name="address" v-model="address" ref="address" class="form-control" :disabled="buttonStatus  === 'upload'" />
              </div>
              <div class="form-group">
                <label>No. HP</label>
                <input type="text" name="no_hp" v-model="no_hp" ref="no_hp" class="form-control" :disabled="buttonStatus  === 'upload'" />
              </div>
              <div v-if="buttonStatus === 'submit'">
                <button type="submit" class="btn btn-primary">Tambah</button>
              </div>
              <div v-else-if="buttonStatus === 'update'">
                <button type="button" class="btn btn-primary" @click="updateMember(idEditMember)">Update</button>
                <button type="button" class="btn btn-primary" @click="clearForm()">Cancel</button>
              </div>
              <div v-else>
                <input type="file" name="photo_profile" ref="photo_profile" class="form-control" >
                <button type="button" class="btn btn-secondary" @click="updateUploadPhoto(idUploadMember)">Upload</button>
                <button type="button" class="btn btn-primary" @click="clearForm()">Cancel</button>
              </div>
            </form>
          </div>
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">No. Hp</th>
                  <th scope="col">Photo</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(member, index) in members">
                  <td>{{ index+1 }}</td>
                  <td>{{ member.name }}</td>
                  <td>{{ member.address }}</td>
                  <td>{{ member.no_hp }}</td>
                  <td><img width="300px" :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/640x4:3/'" alt="" /></td>
                  <td>
                    <button class="btn btn-primary btn-sm" @click="editMember(member)">Edit</button>
                    <button class="btn btn-danger btn-sm mt-2" @click="deleteMember(member.id)">Hapus</button>
                    <button class="btn btn-secondary btn-sm mt-2" @click="uploadPhoto(member)">Upload </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          members: [],
          domain: "http://demo-api-vue.sanbercloud.com",
          name: "",
          address: "",
          no_hp: "",
          errors: [],
          idEditMember: null,
          idUploadMember: null,
          buttonStatus: "submit",
        },
        methods: {
          getMembers: function () {
            const config = {
              method: "get",
              url: this.domain + "/api/member",
            };
            axios(config)
              .then((response) => {
                this.members = response.data.members
                console.log(this.members);
              })
              .catch((err) => {
                console.log(err);
              });
          },

          validationForm: function () {
            this.errors = [];

            if (this.name.length < 5) {
              this.errors.push("Name minimal 5 karakter");
              this.$refs.name.focus();
            }

            if (this.address.length < 5) {
              this.errors.push("Address minimal 5 karakter");
              this.$refs.address.focus();
            }

            if (this.no_hp.length > 16) {
              this.errors.push("No. HP maksimal 16 karakter");
              this.$refs.no_hp.focus();
            }
          },

          clearForm: function () {
            this.name = "", 
            this.address = "", 
            this.no_hp = "", 
            this.idEditMember = null,
            this.idUploadMember = null,
            this.buttonStatus = "submit";
          },

          submitForm: function () {
            this.validationForm();

            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("address", this.address);
            formData.append("no_hp", this.no_hp);

            if (this.errors.length === 0) {
              const config = {
                method: "post",
                url: this.domain + "/api/member",
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },

          editMember: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.idEditMember = member.id;
            this.buttonStatus = 'update';
          },

          updateMember: function (id) {
            this.validationForm();

            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("address", this.address);
            formData.append("no_hp", this.no_hp);

            if (this.errors.length === 0) {
              const config = {
                method: "post",
                url: this.domain + "/api/member/" + id,
                data: formData,
                params: { _method: "PUT" },
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },

          deleteMember: function (id) {
            const config = {
              method: "post",
              url: this.domain + "/api/member/" + id,
              params: { _method: "DELETE" },
            };
            axios(config)
              .then((response) => {
                this.getMembers();
                this.clearForm();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              })
          },

          uploadPhoto: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.idUploadMember = member.id;
            this.buttonStatus = "upload";
          },

          updateUploadPhoto : function (id) {
            let file = this.$refs.photo_profile.files[0]

            let formData = new FormData()
            formData.append('photo_profile', file)

            const config = {
                method: "post",
                url: this.domain + "/api/member/" + id + "/upload-photo-profile",
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
          },

        },
        created() {
          this.getMembers();
        },
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
