<html>
  <head>
    <title>quiz 2</title>
  </head>

  <body>
    <form>
      <div id="App">
        <ul>
          <li v-for="item in fullData">
            {{item.Name}}
            <div v-if="Editmode">
              <button v-on:click="OnEdit(item.Id)">Edit</button>

              <button v-on:click="OnDelete(item.Id)">Delete</button>
            </div>
            <div v-if="updatemode">
              <a href="#">Update</a>
              <a href="#">Cancel</a>
            </div>
          </li>
        </ul>

        <br />

        <div class="div_Master">
          <input class="form-control" type="hidden" placeholder="Id" v-model="Id" />

          <input class="form-control" type="text" placeholder="Name" v-model="name" />
        </div>

        <button type="button" class="btn btn-circle-bottom" v-on:click="btnSubmit()">{{btnMode}}</button>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        var app = new Vue({
          el: "#App",

          data: {
            name: "",

            fullData: [
              {
                Id: 99,
                Name: "Rayhan",
              },
            ],

            Editmode: true,

            updatemode: false,

            btnMode: "Submit",

            Validate: 0,

            Id: 1,
          },

          methods: {
            btnSubmit: function () {
              this.fullData.push({
                Id: this.Id++,

                Name: this.name,
              });

              if (this.btnMode == "Update") {
                this.btnMode = "Submit";
              }

              this.name = "";
            },

            OnEdit: function (d) {
              let fitdata = this.fullData.filter(function (val) {
                return val.Id == d;
              });

              this.Id = fitdata[0].Id;

              this.name = fitdata[0].Name;

              this.btnMode = "Update";

              this.fullData = this.fullData.filter(function (val) {
                return val.Id != d;
              });
            },

            OnDelete: function (d) {
              this.fullData = this.fullData.filter(function (val) {
                return val.Id != d;
              });
            },
          },
        });
      });
    </script>
  </body>
</html>
